{# Purpose of this template: Display search options #}
<input type="hidden" id="pggoMediaAttachModuleActive" name="active[PggoMediaAttachModule]" value="1" />
<div>
    <input type="checkbox" id="active_pggoMediaAttachModuleFiles" name="pggoMediaAttachModuleSearchTypes[]" value="file"{% if active_file %} checked="checked"{% endif %} />
    <label for="active_pggoMediaAttachModuleFiles">{{ __('Files', 'pggomediaattachmodule') }}</label>
</div>
