{# purpose of this template: articles index view #}
{% extends routeArea == 'admin' ? 'PggoNewsDatesModule::adminBase.html.twig' : 'PggoNewsDatesModule::base.html.twig' %}
{% block title __('articles') %}
{% block admin_page_icon 'home' %}
{% block content %}
    <p>{{ __('Welcome to the article section of the News dates application.') }}</p>
{% endblock %}
