{# purpose of this template: institutions index view #}
{% extends routeArea == 'admin' ? 'PggoInstititutionenModule::adminBase.html.twig' : 'PggoInstititutionenModule::base.html.twig' %}
{% block title __('institutions') %}
{% block admin_page_icon 'home' %}
{% block content %}
    <p>{{ __('Welcome to the institution section of the Instititutionen application.') }}</p>
{% endblock %}
