{# Purpose of this template: Display files within an external context #}
{% for file in items %}
    <h3>{{ file.getTitleFromDisplayPattern() }}</h3>
    <p><a href="{{ path('rkdownloadmodule_file_display', { 'id': file.id }) }}">{{ __('Read more') }}</a>
    </p>
{% endfor %}
