{# Purpose of this template: Display carousel items within an external context #}
{% for carouselItem in items %}
    <h3>{{ carouselItem.getTitleFromDisplayPattern() }}</h3>
    <p><a href="{{ path('rkhelpermodule_carouselitem_display', { 'id': carouselItem.id }) }}">{{ __('Read more') }}</a>
    </p>
{% endfor %}
