{# Purpose of this template: Display infos within an external context #}
{% for info in items %}
    <h3>{{ info.getTitleFromDisplayPattern() }}</h3>
    <p><a href="{{ path('rkhelpermodule_info_display', { 'id': info.id }) }}">{{ __('Read more') }}</a>
    </p>
{% endfor %}
