{# Purpose of this template: Display images within an external context #}
{% for image in items %}
    <h3>{{ image.getTitleFromDisplayPattern() }}</h3>
    <p><a href="{{ path('rkhelpermodule_image_display', { 'id': image.id }) }}">{{ __('Read more') }}</a>
    </p>
{% endfor %}
