{# Purpose of this template: Display search options #}
<input type="hidden" id="pggoTeamModuleActive" name="active[PggoTeamModule]" value="1" />
<div>
    <input type="checkbox" id="active_pggoTeamModulePersons" name="pggoTeamModuleSearchTypes[]" value="person"{% if active_person %} checked="checked"{% endif %} />
    <label for="active_pggoTeamModulePersons">{{ __('Persons', 'pggoteammodule') }}</label>
</div>
